<!-- <header id="header">
  <h4 style="color:white">JAPAN SOKUHO</h4>
</header> -->

<div class="site_img">
<%= image_tag 'japansokuho.png' %>
</div>


<div class="articles">


  <ul>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- バナー２ -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9765950708728570"
     data-ad-slot="1952454244"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>



  <% @articles.each do |article| %>
        <li><a href = <%= article.url %> >
	    <div class="list_thumb">

	      <span class="crop_img img_style" style ="background-image:url(<%= article.img_url %>)"></span>
	      
	    </div>
            
	    <div class="list_contents"><h3><%= article.title %></h3>
	      
	      <div class="list_info"><p class="author"><%= article.website  %></p>
		<p class = "views">views <%= article.views  %></p>
              </div>

            </div>
            </a>
        </li>
  <% end %>
  </ul>

</div><!-- /content -->

<div data-role="footer" style = "margin-bottom: 65px;">
<!--  <div data-role = "navbar">
    <ul>
      <li class=""><span class = "prev"></span></li>
      <li><span><a href = "#">next</a></span></li>
    </ul>
  </div> -->

<div style="text-align:center">
<%= paginate  @articles  %>
</div>

</div>


