<div class="navber navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand header-site-title" href="#">JAPAN SOKUHO</a>
    </div>
  </div>
</div><!-- /nav -->

<div class="container" style="margin-top:50px;">
  <div id="main" class="clearfix">
    <table class="table">
      <tbody>

	<% @articles.each do |article| %>
    
        <tr>
	  <td><span class="item-title-test"><%= article.datetime  %><a href = <%= article.url %> style="margin-left:20px;"><%= article.title %></a></span></td>
	  <td class="blog_title"><%= article.website %></td>  
	</tr>
       
	<% end %>
    
      </tbody>
    </table>
  </div><!-- /main -->
</div> <!-- /container -->


<div style="text-align:center">
<%= paginate @articles  %>
</div>

<br>



